<md-bottom-sheet class="md-has-header" id="todo-bottom-sheet">
  <md-container layout="row">
    <md-container flex="20" layout="row" layout-wrap>
      <div class="project" style="background-color: #F44336;" flex="33"><span>Atol</span></div>
      <div class="project" style="background-color: #E91E63;" flex="33">Atol</div>
      <div class="project" style="background-color: #9C27B0;" flex="33">Logilec</div>
      <div class="project" style="background-color: #673AB7;" flex="33">Sercel</div>
      <div class="project" style="background-color: #3F51B5;" flex="33">CCPA</div>
      <div class="project" style="background-color: #2196F3;" flex="33">CDS</div>
      <div class="project" style="background-color: #03A9F4;" flex="33">Expertime</div>
      <div class="project" style="background-color: #FF5722;" flex="33">Expanscience</div>
      <div class="project" style="background-color: #009688;" flex="33">AMGCIL</div>
      <div class="project" style="background-color: #4CAF50;" flex="33">Vendée Habitat</div>
      <div class="project" style="background-color: #8BC34A;" flex="33">Silène</div>
      <div class="project" style="background-color: #CDDC39;" flex="33">Atol</div>
      <div class="project" style="background-color: #FFEB3B;" flex="33">Atol</div>
      <div class="project" style="background-color: #FFC107;" flex="33">Atol</div>
      <div class="project" style="background-color: #FF9800;" flex="33">Atol</div>
    </md-container>
    <md-container class="todo-form" flex="50">
        <h3>Add Todos {{title}}</h3>
        <md-container layout="row">
          <md-input-container flex=20>
            <label>N° Ticket</label>
            <input ng-model="todo.Id" autofocus type="number">
          </md-input-container>
           <md-input-container flex>
            <label>Titre</label>
            <input ng-model="todo.Title">
          </md-input-container>
        </md-container>  
    </md-container>
  </md-container>
   <md-button class="md-fab md-fab-bottom-right" aria-label="Add todo" ng-click="saveTodo()">
        Add
   </md-button> 
</md-bottom-sheet>