/** General**/
body {height: 100%;overflow: hidden;}
nav { position: relative; }


.bg-calendar {background-color: white;height: 84vh;}
div.cds-menu.row {margin-bottom: 0;}
.cds-menu .month{;float:left;margin-left:20px;}
.cds-menu ul {float:right;margin:5px auto;}
.cds-menu li {display:inline-block;margin-right:20px;font-size: 2rem}
.cds-menu li > a {color:inherit;}
.content { background-color: white;height: 84vh;}
.content .calendar {background-color: #fff;}
.content::-webkit-scrollbar {display: none;}
.calendar .icon {float:left;margin:0 15px;}
.marge{ border-right: 1px solid #e0e0e0; text-align: right;height: 62px;}
.marge > .text-hour { margin: 0;height: 15px;margin-right: 5px;}
.header .marge{height: 80px;}
.content .row.hours.header{ height: 80px;}
.content .row {margin-bottom: 0px;height: 62px; border-bottom: 1px solid #e0e0e0; padding: 0;}
.content .row.hours.header  h4{ display:inline-block;float:left;color:#ee6e73;width: 20%;font-size: 3.3rem;}
.content .row.hours.header  h6{ display:inline-block;float:left;}
.content .event {margin:0 auto;height:60px;width: 100%;padding:6px;color:#FFFFFF;overflow: hidden}

.content .event.start {margin-top:2px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.content .event.final {border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;}
.content .event.complete {height: 62px;}
.content .event.less-one-hour {border-radius: 3px;}

.content .event .title {float:left;width: 75%;}
.content .event .close {display: inline-block;float:right;color:white;margin:0;width: 20%;text-align: right}
.content .event .time {font-size:1.2rem;float:right;}

/* Animation */
.ng-enter, .ng-leave{-webkit-animation-duration: .3s;animation-fill-mode: both;}
.animate-right.ng-enter{-webkit-animation-name: slideInRight;}
.animate-right.ng-leave{-webkit-animation-name: slideOutLeft;}
.animate-left.ng-enter{-webkit-animation-name: slideInLeft;}
.animate-left.ng-enter{-webkit-animation-name: slideInLeft;}
.animate-right {height: 100%;}
/* Invoices */

.invoices {margin-bottom: 0px;height: 100vh;
  background-color:#ececee ; color:#4d4d4f;}
.invoices .projects{padding:0;}
.invoices .projects-header {height: 20vh; color:white;padding:10px}
.invoices h2{font-weight: 300;}
.invoices .project-details{padding:0;height: 100%;}
.invoices .project-details .collapsible{margin:0;box-shadow: none;}

.invoices .project-details-header {height: 20vh;margin:0;color:white;padding:10px}
.invoices .project-details-header h2 {float:left;}

.projects tfoot {font-weight: bold}
.projects tr {cursor:pointer;}
.projects { height: 100%; border-right: 1px solid #ddd;}
.projects tr.active { background-color: #c8ebfb !important;}

/*Wassup*/
.wassup .badge {  font-weight: 300;font-size: 1rem;position: inherit;color: #fff;border-radius: 2px;}

.wassup .todo-banner { background-image: url("../assets/images/todo-background.jpg");background-position: bottom;min-height: 15vh;color : #ffffff;}
.wassup .todo-banner h2{ margin:0;}
.wassup .todo-banner ul {float:left;margin:5px auto;width: 100%;}
.wassup .todo-banner li{display:inline-block;margin:0 10%;font-size: 2rem }
.wassup .wassup-container {height: 82%;}
.wassup .pomodoros i.active {color:#ef5350;}

.wassup .todo-today-container {;padding: 0;height: 100%;overflow: auto}
.wassup .todo-today-container .feed-me {color:#e0e0e0;text-align: center;font-size: 2em }
.wassup .todo-today {padding: 0;margin:0;}
.wassup .todo-today .pomodoros {float:right;margin-top: 10px}
.wassup .todo-today .ok {background-color: #cedd37;color:white;text-align: center;line-height: 1;height: 100%}
.wassup .todo-today .todo-content {padding:10px;text-align: center;font-size: 1.3em;}
.wassup .todo-today .collection-item{ padding:0px 0px;height: 80px}

.wassup .activity-inventory .collection-item{ padding:0px 0px;height: 80px}
.wassup .activity-inventory .ok {background-color: #ef5350 ;color:white;text-align: center;line-height: 1;height: 100%;float: right;}

.wassup .activity-inventory .input-field {margin-top: 20px;}
.wassup .activity-inventory .input-field i{ line-height: 2}
.wassup .activity-inventory .pomodoros{margin-top: 25px;text-align: center;}

.wassup .activity-inventory .edit .pomodoros{text-align: center;}
.wassup .activity-inventory .todo-content { height: 100%;}
.wassup .activity-inventory .badge-container { height: 100%;}
.wassup .activity-inventory .todo-item-title {height: 100%;}
