@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}


.pined-task {
  margin:20px 50px;
  padding:25px;
}

/** CDS ANGULAR**/

/** GLOBAL**/
.cds-add-btn {float:right;}

/** WASSUP **/

.todo-list .md-tile-content{
}

.wassup #do-today { display: inline;margin-left: 25px;}
.wassup .todo-title {width: 100%;margin: 0;padding: 25px}
.wassup #tasks-list {padding:25px;}
.wassup .todo-list .md-tile-left {line-height: 35px}

.wassup .project-picker {width: 600px;height: 250px;position: relative;}
.wassup .project {float:left;float: left; height: 33%;width: 25%;text-align: center;}
.wassup .md-has-header {height: 300px}